{% extends 'base.html.twig' %}

{% block body %}
<div class="container mx-auto my-8">
    <h1 class="text-3xl font-bold text-center mb-6">Bienvenue sur la Gestion des Événements Sportifs</h1>

    <h2 class="text-2xl font-bold mb-4">Prochains événements à venir</h2>
    {% if upcomingEvents is not empty %}
        <ul class="space-y-4">
            {% for event in upcomingEvents %}
            <div class="w-100 block h-[1px] bg-gray-300"></div>
                <li>
                    <h3 class="text-lg font-bold ml-4">{{ event.name }}</h3>
                    <p class="text-gray-600 ml-4">Date : {{ event.date|date('d/m/Y') }}</p>
                    <p class="text-gray-600 ml-4">Lieu : {{ event.location }}</p>
                    <a href="{{ path('event_view', { id: event.id }) }}" class="text-blue-500 hover:underline ml-4 mb-4">Voir les détails</a>
                </li>
            {% endfor %}
            <div class="w-100 block h-[1px] bg-gray-300"></div>
        </ul>
    {% else %}
        <p class="text-gray-500">Aucun événement à venir.</p>
    {% endif %}

    <div class="mt-6 text-center">
        <a href="{{ path('event_list') }}" class="text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded">Voir plus</a>
    </div>
</div>
{% endblock %}